constraints: AhoCorasick ==0.0.3,
             HUnit ==1.2.5.2,
             MonadCatchIO-transformers ==0.3.1.2,
             MonadRandom ==0.2.0.1,
             aeson ==0.7.0.6,
             array ==0.5.0.0,
             attoparsec ==0.11.3.4,
             attoparsec-enumerator ==0.3.3,
             base ==4.7.0.0,
             base64-bytestring ==1.0.0.1,
             bifunctors ==4.1.1.1,
             binary ==0.7.1.0,
             blaze-builder ==0.3.3.2,
             blaze-builder-enumerator ==0.2.0.6,
             blaze-html ==0.7.0.2,
             blaze-markup ==0.6.1.0,
             byteable ==0.1.1,
             bytestring ==0.10.4.0,
             bytestring-mmap ==0.2.2,
             case-insensitive ==1.2.0.0,
             cereal ==0.4.0.1,
             cipher-aes ==0.2.8,
             clientsession ==0.9.0.5,
             comonad ==4.2.2,
             configurator ==0.2.0.2,
             containers ==0.5.5.1,
             contravariant ==1.2,
             corasick-park ==0.1.0.0,
             cpphs ==1.18.5,
             cprng-aes ==0.5.2,
             crypto-api ==0.13,
             crypto-cipher-types ==0.0.9,
             crypto-random ==0.0.8,
             cryptohash ==0.11.6,
             data-default ==0.5.3,
             data-default-class ==0.0.1,
             data-default-instances-base ==0.0.1,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             deepseq ==1.3.0.2,
             digestive-functors ==0.7.1.1,
             digestive-functors-heist ==0.8.6.0,
             digestive-functors-snap ==0.6.1.0,
             directory ==1.2.1.0,
             directory-tree ==0.11.0,
             distributive ==0.4.4,
             dlist ==0.7.1,
             either ==4.3.0.2,
             entropy ==0.3.3,
             enumerator ==0.4.20,
             errors ==1.4.7,
             exceptions ==0.6.1,
             extensible-exceptions ==0.1.1.4,
             filepath ==1.3.0.2,
             free ==4.9,
             ghc-prim ==0.3.1.0,
             hashable ==1.2.2.0,
             haskell-src-exts ==1.15.0.1,
             haskell-src-meta ==0.6.0.7,
             heist ==0.13.1.2,
             inflections ==0.1.0.7,
             integer-gmp ==0.5.1.0,
             jmacro ==0.6.9,
             lens ==4.4.0.1,
             logict ==0.6.0.2,
             lrucache ==1.1.1.4,
             monad-control ==0.3.3.0,
             monads-tf ==0.1.0.2,
             mtl ==2.1.3.1,
             mwc-random ==0.13.2.0,
             nats ==0.2,
             network ==2.5.0.0,
             old-locale ==1.0.0.6,
             old-time ==1.1.0.2,
             parallel ==3.2.0.4,
             parseargs ==0.1.5.2,
             parsec ==3.1.5,
             polyparse ==1.9,
             prelude-extras ==0.4,
             pretty ==1.1.1.1,
             primitive ==0.5.3.0,
             process ==1.2.0.0,
             profunctors ==4.2.0.1,
             pwstore-fast ==2.4.3,
             random ==1.0.1.3,
             readable ==0.2,
             reflection ==1.5.1,
             regex-base ==0.93.2,
             regex-posix ==0.95.2,
             rts ==1.0,
             safe ==0.3.8,
             scientific ==0.3.3.0,
             securemem ==0.1.3,
             semigroupoids ==4.2,
             semigroups ==0.15.2,
             skein ==1.0.9,
             snap ==0.13.2.8,
             snap-core ==0.9.6.3,
             snap-extras ==0.9,
             snap-server ==0.9.4.5,
             split ==0.2.2,
             stm ==2.4.3,
             syb ==0.4.2,
             tagged ==0.7.2,
             template-haskell ==2.9.0.0,
             text ==1.1.1.3,
             th-lift ==0.6.1,
             th-orphans ==0.8.1,
             time ==1.4.2,
             transformers ==0.3.0.0,
             transformers-base ==0.4.3,
             transformers-compat ==0.3.3.4,
             unix ==2.7.0.1,
             unix-compat ==0.4.1.3,
             unordered-containers ==0.2.5.0,
             vector ==0.10.11.0,
             vector-algorithms ==0.6.0.3,
             void ==0.6.1,
             wl-pprint-text ==1.1.0.2,
             xmlhtml ==0.2.3.2,
             zlib ==0.5.4.1,
             zlib-bindings ==0.1.1.5,
             zlib-enum ==0.2.3.1
